/* Empty. Add your own CSS if you like */


.darkBlue {
    color:#223E4E;
}

.blue {
    color:#1B8CCE !important;
}

.vcenter img {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}
