/* Empty. Add your own CSS if you like */


.darkBlue {
    color:#223E4E;
}

.blue {
    color:#1B8CCE !important;
}

.vcenter {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}
