<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="io.screenlab.demo_app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>ScreenLab Snapp</name>
  <description>
        A simple reference Android app using the ScreenLab API.
    </description>
  <author email="hello@screenlab.io" href="http://screenlab.io">
      Your Name Here
    </author>
  <icon src="img/icon.png" />

  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
  <gap:plugin name="org.apache.cordova.camera" />
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.file-transfer" />
  
  <access origin="cdvfile://*" />
  
  <platform name="android">

  </platform>
</widget>
