<ion-view title="Scan Name" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header" lazy-scroll>
        <div style="text-align:center;">
            <image-lazy-cached image-lazy-src="{{scan.s3_image_link}}" image-lazy-loader="lines" width="100%"></image-lazy-cached>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img ng-src="{{imgLink}}">
                <h2>Flow Balance</h2>
                <p>This design has a score of 25 for flow and 75 for balance. This means the page / design strikes a balance between leading the user through the page and drawing their attention to different content</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/WNshrIh9RFq5GO5E7ImV_Screen Shot 2016-03-31 at 19.17.09.png">
                <h2>Simplicity Information</h2>
                <p>This design has a score of 89 for impact and 11 for subtlety. This means the page / design is likely to be described as having a relatively high impact.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/zwaK4KR3Gs5cmTClywtQ_Screen Shot 2016-03-31 at 19.17.09.png">
                <h2>Impact Subtlety</h2>
                <p>This design has a score of 28 for simplicity and 72 for information. This means the page / design presents a volume of information but without being too 'busy'. Depending on your goals you may wish to revise thisItem</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
