    <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Scan URL</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>

<ion-content class="padding">
<ion-list>
   <div class="item item-divider">URL</div>
            <ion-item class="item item-input" >
              <input name="urlBox" ng-model="data.url" type="url" placeholder="http://screenlab.io" required>
            </ion-item>
      <div class="item item-divider">Device Type</div>
      <ion-radio ng-model="data.deviceType" value="desktop">Desktop</ion-radio>
      <ion-radio ng-model="data.deviceType" value="tablet">Tablet</ion-radio>
      <ion-radio ng-model="data.deviceType" value="phone">Phone</ion-radio>
</ion-list>


            <button class="button button-full button-positive" ng-disabled="urlBox.$invalid || !data.scanType" ng-click="newUrl(data)">Submit</button>


             </ion-content>
  </ion-modal-view>
