<ion-view title="Your Scans" id="page3" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        {{img}}
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="scanName">
                <img>
                <h2>Scan Name</h2>
                <p>Date and time created</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="scanName">
                <img>
                <h2>Scan Name</h2>
                <p>Date and time created</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="scanName">
                <img>
                <h2>Scan Name</h2>
                <p>Date and time created</p>
            </ion-item>
        </ion-list>
        <div class="bar bar-footer">
          <div class="title"></div>
          <button ng-click="newPhoto()" class="button button-clear"><i class="icon ion-camera"></i> New</button>
        </div>

    </ion-content>
</ion-view>
